html, body {
    background-color: azure;
    margin: 0;
    font-family: 'Playfair Display', serif;    
}

h1 {
    margin: 1em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

.header {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #646f4b;
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;   
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    background-color: #839D9A;
}

#content {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;   
    background-color: #7BB2D9; 
}

#card {
    display: grid;
    background-color: #BFD2BF;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

#submit-btn {
    background-color: #26408B;
    color: azure;
    border: none;
    border-radius: 5px;
    height: 25px;
}

#delete-btn {
    margin: 10px;
    width: 40%;
    background-color: #26408B;
    color: azure;
    border: none;
    border-radius: 5px;
    height: 25px;
}

.form-input {
    margin: 8%;
    justify-items: center;
}

input {
    margin-top: 5px;
}

.card-label {
    margin-left: 15px;
}





